html,
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
html {font-size: 62.5%;}
#main_wrapper {
    max-width: 1440px;
    margin: auto;
}
h2 {
    font-weight: bold;
    font-size: 2.3rem;
}
em {
    font-weight: Bold;
}
h1 {
    font-size: 1.6rem;
}
.FooterlessContainer {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.TextsetHeader p {
    font-size: 1.4rem;
    margin-bottom:2rem;
}
body {
    overflow-x: hidden;
}
/* ------------- COLOR -------------*/
.colorBlue {
    Color: #0065fc;    
}
.colorLightBlue {
    Color: #deebff;
}
.colorGrey {
    Color: #f2f2f2;
}
.BlueBG {
    background-color: #0065fc; 
}
.LightBlueBG {
    background-color: #deebff; 
}
.GreyBG {
    background-color: #f2f2f2; 
}
.Boldtext {
    font-weight: bold;

}
/* ------------- Logo ------------- */
.logo {
    height: 2.9rem;
    width: 70%;
    margin-bottom: 0.7rem;
}
/* ------------- Nav ------------- */
.nav {
    height: 7rem
}
.nav__set {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link__set {
    width: 14rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}
.nav__link__set1 {
    width: 14rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}
.nav__TopBorder {
    border-top: 0.15rem solid transparent;
}
.nav__TopBorder:hover {
    border-top: 0.15rem solid #0065fc;
    cursor: pointer;
}
.nav__TopBorder:hover > a {
    color: #0065fc
}
.nav__TopBorderAncor {
    border-top: 0.15rem solid transparent;
}
.nav__TopBorderAncor:hover {
    border-top: 0.15rem solid #0065fc;
    cursor: pointer;
}
.nav__TopBorderAncor:hover > a {
    color: #0065fc
}
.nav__nodeco__Ancor {
    color: black ;
    text-decoration: none;
    font-size:1.8rem;
}
.nav__nodeco__join {
    color: #0065fc ;
    text-decoration: none;
    font-size:1.8rem;
}
/* ------------- Filter ------------- */
.filter {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.filterTitle {
    margin-right: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.filterFIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.filterSetFicon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.2rem;
    border-radius: 2.5rem;
    min-width: 5.2rem;
    height: 5.2rem;
    color: #0065fc;
    background-color: #f2f2f2;
}
.filterName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding-left: 1.6rem;
    padding-right: 2rem;
    border-radius: 0 2.5rem 2.5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
}
.filterBarSet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid #f2f2f2;
    height: 5rem;
    border-radius: 3rem;
    margin-right: 3rem;
}
.filterBarSet:hover > .filterName {
    color: #0065fc;
    cursor:pointer;
    transform: scale(1.1)
}
.filterBarSet:hover > .filterSetFicon {
    color: white;
    background-color: #0065fc;
    transform: scale(1.15);
}
.filterFIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ------------- Button ------------- */
.bar__search {
    width: 33.8rem;
    border-radius: 1rem;
    border: 0.1rem solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__search {
    height: 4rem;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
}
.btn_search {
    height: 4rem;
    width: 10.4rem;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.btn_search:hover {
    background-color: #f2f2f2;
    color: #0065fc;
  }
.searchSet {
    height: 4rem;
    width: 21.4rem;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-left: 2rem;
  }
  .searchL {
    display: none;
}
/* ------------- Info ------------- */
.info {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
.InfoSetText {
    font-size: 1.4rem;
}

.infoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #f2f2f2;
    border-radius: 2.5rem;
    margin-right: 0.5rem;
}
/* ------------- Host ------------- */
.AlignText {
    margin:0.5rem;
}
.HostingTrend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.HostingTrend h3 {
    font-size:1.4rem;
  }
  .HostingTrend p {
    font-size:1.2rem;
  }
.HostingFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 2;
    height: 60rem;
    margin-right: 2rem;
    border-radius: 1rem;
    width: 68%;
}
.Blockone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
}
.BlockTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.CardHost {
    margin: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgb(177 177 177);
    width: 30%;
    max-height: 90%;
    min-height: 90%;
    border-radius: 1rem 1rem 1rem 1rem;
}
.CardHost:hover {
    transform: scale(1.05);
}
.CardHost__img img {
    max-height: 11.4rem;
    min-height: 11.4rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: center;
    object-fit: cover;
}
.CardHostText {
    padding-left: 1rem;
}
.MoreHosting {
    cursor: pointer;
    text-decoration:none;
    color:black;
    font-size: 1.6rem;
    padding: 2rem;
}
/* ------------- Trend ------------- */
.IconTrend {
    height: 2.2rem;
    width: 1.8rem;
    margin-right: 2rem;
}
.TrendBlock {
    flex: 1;
    height: 60rem;
    max-width: 30%;
    margin-left: 2rem;
    border-radius: 1rem;
    padding-right: 2rem;
    background-color: #f2f2f2;
}
.TrendFlex__CardBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.TrendFlex__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1rem;
}
.CardTrend {
    display: flex;
    margin: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgb(177 177 177);
    width: 92%;
    max-height: 30%;
    min-height: 30%;
    border-radius: 1rem 1rem 1rem 1rem;
}
.CardTrend:hover {
    transform: scale(1.05);
}
.CardTrend__img img {
    height: 100%;
    max-width: 10rem;
    min-width: 10rem;
    border-radius: 1rem 0rem 0 1rem;
    object-position: center;
    object-fit: cover;   
}
.CardTrend__align {
    padding-left: 1rem;
    padding-top: 0.1rem;
}
.CardTrend__align__Stars {
    padding-left:1rem;
    padding-top: 4rem;
}
/* ------------- Activities ------------- */
.Activities {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}
.Activities h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.ActivitiesFlex {
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CardActivities {
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgb(177 177 177);
    border-radius: 1rem 1rem 1rem 1rem;
}
.CardActivities:hover {
    transform: scale(1.05);
}
.CardAlignment {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    height: 44.8rem;
    width : 23%;
}
.CardAlignment2 {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    height: 44.8rem;
    width: 23%;
}
.CardActivities h3 {
    padding-left: 2rem;
    padding-top: 0.5rem;
}
.CardActivities_1_4 {
    min-height: 44.8rem;
    max-height: 44.8rem;
    width:23%;
}
.CardActivities__img_1_4 img {
    max-height: 38.9rem;
    min-height: 38.9rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
/*    object-position: top;*/
    object-fit:none;
}
.CardActivitiesImgP0s1 img {
    object-position: 48% 28%;
}
.CardActivitiesImgP0s4 img {
    object-position: 48% 28%;
}
.CardActivities_2 {
    min-height: 23.8rem;
    max-height: 23.8rem;
    margin-bottom: 4.3rem;
    width: 100%;
}
.CardActivities__img_2 img {
    max-height: 18.0rem;
    min-height: 18.0rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: 50% 40%;
    object-fit:cover;
}
.CardActivities_3 {
    max-height: 16.7rem;
    min-height: 16.7rem;
    width: 100%;
}
.CardActivities__img_3 img {
    max-height: 10.9rem;
    min-height: 10.9rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: 50% 20%;;
    object-fit: cover;
}
.CardActivities_5 {
    min-height: 19.8rem;
    max-height: 19.8rem;
    margin-bottom: 3.9rem;
    width: 100%;
}
.CardActivities__img_5 img {
    max-height: 14rem;
    min-height: 14rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: top;
    object-fit: cover;
}
.CardActivities_6 {
    min-height: 21.1rem;
    max-height: 21.1rem;
    width: 100%;
}
.CardActivities__img_6 img {
    max-height: 15.3rem;
    min-height: 15.3rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: 50% 15%;
    object-fit: cover;
}
/* ------------- footer ------------- */
.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5rem;
    height: 5rem;
    margin-top: 2rem;
    max-width: 100%;
}
.footer__margin h3 {
    font-size:1.6rem;
}
.footer__set {
    margin-bottom: 1rem;
    margin-right: 5rem;
}
.footer__set a{
    color: black ;
    text-decoration: none;
    font-size: 1.6rem;
}

/* ------------- Responsive------------- */
@media screen and ( max-width: 1440px) {
    .loupe {
        display:none;
    }
}
@media screen and (max-width: 992px) and (min-width: 601px) {
    .filter {
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .HostingTrend {
        flex-direction: column;
    }
    .HostingFlex {
        width:100%;
        order:1;
        max-width: 100%;
        min-width: 100%;
        margin-left: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
        background-color: white;
    }
    .TrendBlock {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 1rem;
        margin-left: 0rem;
        padding-right: 0rem;
    }
    .TrendFlex__CardBlock {
        flex-direction:row;
    }
    .FooterlessContainer {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .footer {
        height:auto;
        align-items: stretch;
        padding: 1rem;

    }
    .CardTrend {
        flex-direction:column;
    }
    .CardTrend:hover {
        transform: scale(1.05);
    }
    .CardTrend__img img {
        height: 11.4rem;
        max-width: 100%;
        min-width: 100%;
        border-radius: 1rem 1rem 0rem 0rem;
}
    .CardTrend__align {
        padding-left: 1rem;
        padding-top: 0.1rem;
    }
    .CardTrend__align__Stars {
        padding-left:1rem;
        padding-top: 0rem;
    }
}
@media screen and (max-width: 600px) and (min-width: 370px) {
    body {
        margin:0;
    }
    .logo {
        margin-left: 1.5rem;
        width: 68%;
    }
    .AlignTextHeader {
        margin-top: 9rem;
        margin-right: 1.5rem;
        margin-left: 2rem;
    }
    .nav {
        max-width: 100%;
    }
    .nav__set {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: start;
    }
    .nav__link {
        width: 100%;
        order:1;
        margin-left: auto;
        width: 100%;
    }
    .nav__link__set {
        order:1;
        width:100%;
    }
    .nav__link__set1 {
        order:1;
        width:26%;
        justify-content: center;
    }
    .nav__TopBorderAncor {
        border-bottom: 0.35rem solid transparent;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .nav__TopBorderAncor:hover {
        border-bottom: 0.35rem solid #0065fc;
    }
    .nav__TopBorderAncor:hover {
        border-top: 0.15rem solid transparent;
    }
    .nav__TopBorder:hover {
        border-top: 0.15rem solid transparent;
        transform: scale(1.1);
    }
    .nav__nodeco__Ancor {
        font-size: 2.1rem;
    }
    .nav__nodeco__join {
        font-size: 2.1rem;
    }
    .filterBarSet {
        margin-right:1.5rem;
    }
    .filterName {
        padding-right:1rem;
        padding-left:1rem;
    }
    .filterFIcons {
        flex-direction: column;
        align-items: start;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .TrendFlex__CardBlock {
        flex-direction:column;
        flex-wrap: wrap;
        max-width: 100%;
        align-content: center;
    }
    .footer {
        flex-direction:column;
        align-items: start;
        max-width: 100%;
        height: auto;
        padding: 2rem;
    }
    .Blockone {
        flex-direction:column;
    }
    .BlockTwo {
        flex-direction:column;
        margin-bottom: 2rem;
    }
    .MoreHosting {
        padding:0.5rem;
    }
    .btn_search {
        display: none;
    }
    .searchL {
        display: inline;
        height: 4rem;
        width: 10.4rem;
        min-width: 4rem;
        color: white;
        cursor: pointer;
        font-size: 1.3rem;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchL:hover {
        transform: scale(1.1);
      }
    .bar__search {
            width: auto;
            margin-left:2rem;
            margin-right:2rem;
            justify-content: space-between;
    }
    .filterFIcon {
        align-items: start;
        flex-direction: column;
    }
    .info {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        margin-right: 3rem;
        margin-left: 2rem;
    }
    .filter {
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin-left: 2rem;
    }
    .filterSetFicon {
        background-color: #deebff;
    }
    .filterFIcon {
        flex-direction: row;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .HostingTrend {
        flex-direction: column;
    }
    .HostingFlex {
        width:93%;
        order:1;
        max-width: 100%;
        min-width: 93%;
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        background-color: white;
        margin-bottom:1rem;
    }
    .TrendBlock {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 1rem;
        margin-left: 0rem;
        padding-right: 0rem;
        border-radius: 0rem;
        margin: auto;
    }
    .TrendFlex__CardBlock {
        flex-direction:row;
    }
    .FooterlessContainer {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .footer {
        height:auto;
        align-items: stretch;
        padding: 1rem;
        padding-left:1.5rem;

    }
    .CardTrend:hover {
        transform: scale(1.05);
    }
    .CardTrend__img img {
        height: 12rem;
        max-width: 12rem;
        min-width: 12rem;
        border-radius: 1rem 1rem 0rem 0rem;
}
    .CardTrend__align {
        padding-left: 1rem;
        padding-top: 0.1rem;
    }
    .CardTrend__align__Stars {
        padding-left:1rem;
        padding-top: 0rem;
    }
    .CardHost {
        min-height: 20.1rem;
        max-height: 20.1rem;
        width: 100%;
    }
    .Activities {
        margin-bottom: 2rem;
        width:93%;
        margin: auto;
    }
    .ActivitiesFlex {
        flex-direction: column;
        height: auto;
    }
    .CardActivities {
        height: 19.1rem;
        width: 100%;
    }
    .CardActivities_1_4 {
        min-height:19.1rem;
        max-height:19.1rem;
        margin-bottom:2rem;
    }
    .CardActivities__img_1_4{
        max-height: 13.3rem;
    }
    .CardActivities__img_1_4 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivitiesImgP0s1 img {
        object-fit: cover;
        object-position: center;
    }
    .CardActivities_2 {
        min-height: 19.1rem;
        max-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_2{
        max-height: 13.3rem;
    }
    .CardActivities__img_2 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
        object-position: center;
    }
    .CardActivities_3 {
        max-height: 19.1rem;
        min-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_3{
        max-height: 13.3rem;
    }
    .CardActivities__img_3 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_5{
        max-height: 13.3rem;
    }
    .CardActivities_5 {
        min-height: 19.1rem;
        max-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_5 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_6{
        max-height: 13.3rem;
    }
    .CardActivities_6 {
        min-height: 19.1rem;
        max-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_6 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardAlignment {
        width: 100%;
        height: auto;
    }
    .CardAlignment2 {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 369px) and (min-width: 319px) {
    body {
        margin:0;
    }
    .logo {
        margin-left: 1.5rem;
        width: 68%;
    }
    .AlignTextHeader {
        margin-top: 9rem;
        margin-right: 1.5rem;
        margin-left: 2rem;
    }
    .nav {
        max-width: 100%;
    }
    .nav__set {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: start;
    }
    .nav__link {
        width: 100%;
        order:1;
        margin-left: auto;
        width: 100%;
    }
    .nav__link__set {
        order:1;
        width:100%;
    }
    .nav__link__set1 {
        order:1;
        width:26%;
        justify-content: center;
    }
    .nav__TopBorderAncor {
        border-bottom: 0.35rem solid transparent;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .nav__TopBorderAncor:hover {
        border-bottom: 0.35rem solid #0065fc;
    }
    .nav__TopBorderAncor:hover {
        border-top: 0.15rem solid transparent;
    }
    .nav__TopBorder:hover {
        border-top: 0.15rem solid transparent;
        transform: scale(1.1);
    }
    .nav__nodeco__Ancor {
        font-size: 2.1rem;
    }
    .nav__nodeco__join {
        font-size: 2.1rem;
    }
    .filterBarSet {
        margin-right:1.5rem;
    }
    .filterName {
        padding-right:1rem;
        padding-left:1rem;
    }
    .filterFIcons {
        flex-direction: column;
        align-items: start;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .TrendFlex__CardBlock {
        flex-direction:column;
        flex-wrap: wrap;
        max-width: 100%;
        align-content: center;
    }
    .footer {
        flex-direction:column;
        align-items: start;
        max-width: 100%;
        height: auto;
        padding: 2rem;
    }
    .Blockone {
        flex-direction:column;
    }
    .BlockTwo {
        flex-direction:column;
        margin-bottom: 2rem;
    }
    .MoreHosting {
        padding:0.5rem;
    }
    .btn_search {
        display: none;
    }
    .searchL {
        display: inline;
        height: 4rem;
        width: 10.4rem;
        min-width: 4rem;
        color: white;
        cursor: pointer;
        font-size: 1.3rem;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchL:hover {
        transform: scale(1.1);
      }
    .bar__search {
            width: auto;
            margin-left:2rem;
            margin-right:2rem;
            justify-content: space-between;
    }
    .filterFIcon {
        align-items: start;
        flex-direction: column;
    }
    .info {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        margin-right: 3rem;
        margin-left: 2rem;
    }
    .filter {
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin-left: 2rem;
    }
    .filterSetFicon {
        background-color: #deebff;
    }
    .filterFIcon {
        flex-direction: column;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .HostingTrend {
        flex-direction: column;
    }
    .HostingFlex {
        width:93%;
        order:1;
        max-width: 100%;
        min-width: 93%;
        margin: auto;
        padding-left: 0rem;
        padding-right: 0rem;
        background-color: white;
        margin-bottom:1rem;
    }
    .TrendBlock {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 1rem;
        margin-left: 0rem;
        padding-right: 0rem;
        border-radius: 0rem;
        margin: auto;
    }
    .TrendFlex__CardBlock {
        flex-direction:row;
    }
    .FooterlessContainer {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .footer {
        height:auto;
        align-items: stretch;
        padding: 1rem;
        padding-left:1.5rem;

    }
    .CardTrend:hover {
        transform: scale(1.05);
    }
    .CardTrend__img img {
        height: 12rem;
        max-width: 12rem;
        min-width: 12rem;
        border-radius: 1rem 1rem 0rem 0rem;
}
    .CardTrend__align {
        padding-left: 1rem;
        padding-top: 0.1rem;
    }
    .CardTrend__align__Stars {
        padding-left:1rem;
        padding-top: 0rem;
    }
    .CardHost {
        min-height: 20.1rem;
        max-height: 20.1rem;
        width: 100%;
    }
    .Activities {
        margin-bottom: 2rem;
        width:93%;
        margin: auto;
    }
    .ActivitiesFlex {
        flex-direction: column;
        height: auto;
    }
    .CardActivities {
        height: 19.1rem;
        width: 100%;
    }
    .CardActivities_1_4 {
        min-height:19.1rem;
        max-height:19.1rem;
        margin-bottom:2rem;
    }
    .CardActivities__img_1_4{
        max-height: 13.3rem;
    }
    .CardActivities__img_1_4 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivitiesImgP0s1 img {
        object-fit: cover;
        object-position: center;
    }
    .CardActivities_2 {
        min-height: 19.1rem;
        max-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_2{
        max-height: 13.3rem;
    }
    .CardActivities__img_2 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
        object-position: center;
    }
    .CardActivities_3 {
        max-height: 19.1rem;
        min-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_3{
        max-height: 13.3rem;
    }
    .CardActivities__img_3 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_5{
        max-height: 13.3rem;
    }
    .CardActivities_5 {
        min-height: 19.1rem;
        max-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_5 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_6{
        max-height: 13.3rem;
    }
    .CardActivities_6 {
        min-height: 19.1rem;
        max-height: 19.1rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .CardActivities__img_6 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardAlignment {
        width: 100%;
        height: auto;
    }
    .CardAlignment2 {
        width: 100%;
        height: auto;
    }
}
