html,
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
html {font-size: 62.5%;}
#main_wrapper {
    max-width: 1440px;
    margin: auto;
}
h2 {
    font-weight: bold;
    font-size: 2.3rem;
}
em {
    font-weight: Bold;
}
h1 {
    font-size: 1.6rem;
}
.FooterlessContainer {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.TextsetHeader p {
    font-size: 1.4rem;
    margin-bottom:2rem;
}
/* ------------- COLOR -------------*/
:root {
    --Blue: #0065fc;
    --LightBlue: #deebff;
    --Grey: #f2f2f2;
}
.colorBlue {
    Color: var(--Blue);    
}
.colorLightBlue {
    Color: var(--LightBlue);
}
.colorGrey {
    Color: var(--Grey);
}
.BlueBG {
    background-color: var(--Blue); 
}
.LightBlueBG {
    background-color: Var(--LightBlue); 
}
.GreyBG {
    background-color: var(--Grey); 
}
.Boldtext {
    font-weight: bold;

}
/* ------------- Logo ------------- */
.logo {
    height: 2.9rem;
    width: 9.6rem;
    margin-bottom: 0.7rem;
}
/* ------------- Nav ------------- */
.nav {
    height: 7rem
}
.nav__set {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    margin-left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link__set {
    width: 14rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}
.nav__TopBorder {
    border-top: 0.15rem solid transparent;
}
.nav__TopBorder:hover {
    border-top: 0.15rem solid var(--Blue);
    cursor: pointer;
}
.nav__TopBorder:hover > a {
    color: var(--Blue)
}
.nav__TopBorderAncor {
    border-top: 0.15rem solid transparent;
}
.nav__TopBorderAncor:hover {
    border-top: 0.15rem solid var(--Blue);
    cursor: pointer;
}
.nav__TopBorderAncor:hover > a {
    color: var(--Blue)
}
.nav__nodeco__Ancor {
    color: black ;
    text-decoration: none;
    font-size:1.2rem;
}
.nav__nodeco__join {
    color: var(--Blue) ;
    text-decoration: none;
    font-size:1.2rem;
}
/* ------------- Filter ------------- */
.filter {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}
.filterTitle {
    margin-right: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.filterFIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.filterSetFicon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.2rem;
    border-radius: 2.5rem;
    min-width: 5.2rem;
    height: 5.2rem;
    color: var(--Blue);
    background-color: var(--Grey);
}
.filterName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding-left: 1.6rem;
    padding-right: 2rem;
    border-radius: 0 2.5rem 2.5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
}
.filterBarSet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem solid var(--Grey);
    height: 5rem;
    border-radius: 3rem;
    margin-right: 3rem;
}
.filterBarSet:hover > .filterName {
    color: var(--Blue);
    cursor:pointer;
    transform: scale(1.1)
}
.filterBarSet:hover > .filterSetFicon {
    color: white;
    background-color: var(--Blue);
    transform: scale(1.15);
}
.filterFIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ------------- Button ------------- */
.bar__search {
    width: 33.8rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--Grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__search {
    height: 4rem;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0 0 1rem;
}
.btn_search {
    height: 4rem;
    width: 10.4rem;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.btn_search:hover {
    background-color: var(--Grey);
    color: var(--Blue);
  }
.searchSet {
    height: 4rem;
    width: 21.4rem;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-left: 2rem;
  }
  .searchL {
    display: none;
}
/* ------------- Info ------------- */
.info {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
.InfoSetText {
    font-size: 1.4rem;
}

.infoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid var(--Grey);
    border-radius: 2.5rem;
    margin-right: 0.5rem;
}
/* ------------- Host ------------- */
.AlignText {
    margin:2rem;
}
.HostingTrend {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.HostingTrend h3 {
    font-size:1.4rem;
  }
  .HostingTrend p {
    font-size:1.2rem;
  }
.HostingFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 2;
    height: 60rem;
    margin-right: 2rem;
    border-radius: 1rem;
    max-width: 65%;
    min-width: 81.8rem;
}
.Blockone {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
}
.BlockTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.CardHost {
    margin: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgb(177 177 177);
    max-width: 24.6rem;
    min-width: 24.6rem;
    max-height: 20.1rem;
    min-height: 20.1rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.CardHost:hover {
    transform: scale(1.05);
}
.CardHost__img img {
    max-height: 11.4rem;
    min-height: 11.4rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: center;
    object-fit: cover;
}
.CardHostText {
    padding-left: 1rem;
}
.MoreHosting {
    cursor: pointer;
    text-decoration:none;
    color:black;
    font-size: 1.6rem;
    padding: 2rem;
}
/* ------------- Trend ------------- */
.IconTrend {
    height: 2.2rem;
    width: 1.8rem;
    margin-right: 2rem;
}
.TrendBlock {
    flex: 1;
    height: 60rem;
    max-width: 25%;
    min-width: 36.3rem;
    margin-left: 2rem;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--Grey);
}
.TrendFlex__CardBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.TrendFlex__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}
.CardTrend {
    display: flex;
    margin: 1rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgb(177 177 177);
    max-width: 34.3rem;
    min-width: 30.3rem;
    max-height: 14.5rem;
    min-height: 14.5rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.CardTrend:hover {
    transform: scale(1.05);
}
.CardTrend__img img {
    height: 14.5rem;
    max-width: 12.7rem;
    min-width: 12.7rem;
    border-radius: 1rem 0rem 0 1rem;
    object-position: center;
    object-fit: cover;   
}
.CardTrend__align {
    padding-left: 1rem;
    padding-top: 0.1rem;
}
.CardTrend__align__Stars {
    padding-left:1rem;
    padding-top: 4rem;
}
/* ------------- Activities ------------- */
.Activities {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100%;
    min-width: 126.8rem;
}
.Activities h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.ActivitiesFlex {
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CardActivities {
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem rgb(177 177 177);
    min-width: 30.2rem;
    border-radius: 1rem 1rem 1rem 1rem;
}
.CardActivities:hover {
    transform: scale(1.05);
}
.CardAlignment {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    height: 44.8rem;
}
.CardAlignment2 {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    height: 44.8rem;
}
.CardActivities h3 {
    padding-left: 2rem;
    padding-top: 0.5rem;
}
.CardActivities_1_4 {
    min-height: 44.8rem;
    max-height: 44.8rem;
    max-width:30.2rem;
}
.CardActivities__img_1_4 img {
    max-height: 38.9rem;
    min-height: 38.9rem;
    width: 30.2rem;
    border-radius: 1rem 1rem 0 0;
/*    object-position: top;*/
    object-fit:none;
}
.CardActivitiesImgP0s1 img {
    object-position: 48% 28%;
}
.CardActivitiesImgP0s4 img {
    object-position: 48% 28%;
}
.CardActivities_2 {
    min-height: 23.8rem;
    max-height: 23.8rem;
    margin-bottom: 4.3rem;
}
.CardActivities__img_2 img {
    max-height: 18.0rem;
    min-height: 18.0rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: 50% 40%;
    object-fit:cover;
}
.CardActivities_3 {
    max-height: 16.7rem;
    min-height: 16.7rem;
}
.CardActivities__img_3 img {
    max-height: 10.9rem;
    min-height: 10.9rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: 50% 20%;;
    object-fit: cover;
}
.CardActivities_5 {
    min-height: 19.8rem;
    max-height: 19.8rem;
    margin-bottom: 3.9rem;
}
.CardActivities__img_5 img {
    max-height: 14rem;
    min-height: 14rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: top;
    object-fit: cover;
}
.CardActivities_6 {
    min-height: 21.1rem;
    max-height: 21.1rem;
}
.CardActivities__img_6 img {
    max-height: 15.3rem;
    min-height: 15.3rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-position: 50% 15%;
    object-fit: cover;
}
/* ------------- footer ------------- */
.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5rem;
    height: 5rem;
    margin-top: 2rem;
    max-width: 100%;
}
.footer__margin {
    min-width: 37.5rem;
}
.footer__margin h3 {
    font-size:1.6rem;
}
.footer__set {
    margin-bottom: 1rem;
    margin-right: 5rem;
}
.footer__set a{
    color: black ;
    text-decoration: none;
    font-size: 1.6rem;
}

/* ------------- Responsive------------- */
@media screen and ( max-width: 1440px) {
    .loupe {
        display:none;
    }
    .nav__link {
        margin-left: 60%;
    }
}
@media screen and ( max-width: 1375px) {
    .nav__link {
        margin-left: 50%;
    }
    .HostingTrend {
        flex-direction:column-reverse;
        max-width: 100%;
    }
    .HostingFlex {
        min-width:100%;
        background-color: white;
    }
    .CardHost {
        min-width: 30%;
        min-height: 50%;
    }
    .CardTrend {
        min-width: 30%;
    }
    .TrendBlock {
        min-width:100%;
        padding-bottom:2rem;
        margin-bottom: 2rem;

    }
    .TrendFlex__CardBlock {
        flex-direction:row;
    }
    .ActivitiesFlex {
        flex-direction:row;
        flex-wrap: wrap;
    }
    .CardActivities {
        max-height: 19.1rem;
    }
}

@media screen and ( max-width:990px ) {
    .TrendBlock {
        padding-left: 4rem;
        padding-right: 7rem;
    }
    .filter {
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .FooterlessContainer {
        margin-left: 1rem;
    }
    .Activities {
        min-width: 90rem;
    }
    .ActivitiesFlex {
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
    .CardActivities {
        margin-bottom: 4rem;
    }
}
@media screen and ( max-width:375px ) { 
    .btn_search:hover {
        background-color: var(--Blue);

    }
    .AlignTextHeader {
        margin-top: 9rem;
    }
    .nav__set {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .nav__link {
        width: 100%;
        order:1;
        margin-left: -8%;
        width: 100%;
    }
    .nav__link__set {
        order:1;
    }
    .nav__TopBorderAncor {
        border-bottom: 0.35rem solid transparent;
        padding-left: 6rem;
        padding-right: 3rem;
    }
    .nav__TopBorderAncor:hover {
        border-bottom: 0.35rem solid var(--Blue);
    }
    .nav__TopBorderAncor:hover {
        border-top: 0.15rem solid transparent;
    }
    .nav__TopBorder:hover {
        border-top: 0.15rem solid transparent;
        transform: scale(1.1);
    }
    .nav__nodeco__Ancor {
        font-size: 2.1rem;
    }
    .nav__nodeco__join {
        font-size: 2.1rem;
    }
    .filterBarSet {
        margin-right:1.5rem;
    }
    .filterName {
        padding-right:1rem;
        padding-left:1rem;
    }
    .filterFIcons {
        flex-direction: column;
        align-items: start;
    }
    .filterBarSet {
        margin-top: 2rem;
    }
    .TrendFlex__CardBlock {
        flex-direction:column;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .footer {
        flex-direction:column;
        align-items: start;
        max-width: 100%;
        height: auto;
        padding: 2rem;
    }
    .AlignText {
        margin-left: 0rem;
    }
    .Blockone {
        flex-direction:column;
    }
    .BlockTwo {
        flex-direction:column;
    }
    .CardHost {
        margin: 1rem;
        padding: 0.3rem;
        min-width: 33.5rem;
        max-height: 20.1rem;
    }
    .HostingFlex {
        height: auto;
        padding-left: 3rem;
    }
    .TrendBlock {
        margin-left: 1.5rem;
        padding-left: 5.5rem;
        padding-right: 10rem;
    }
    .IconTrend {
        margin-right: orem;
    }
    .CardTrend {
        min-width: 33.5rem;
        min-height: 14.5rem;
        max-height: 14.5rem;
        max-width: 33.5rem;
    }
    .footerBlock {
        padding-left: 2rem;
    }
    .ActivitiesFlex {
        justify-content: start;
    }
    .Activities {
        min-width: 35.5rem;
        margin-left: 0.2rem;
    }
    .CardActivities {
        min-height: 19.1rem;
        min-width: 33.5rem;
    }
    .CardActivities__img_1_4{
        max-height: 13.3rem;
    }
    .CardActivities__img_1_4 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivitiesImgP0s1 img {
        object-fit: cover;
        object-position: center;
    }
    .CardActivities__img_2{
        max-height: 13.3rem;
    }
    .CardActivities__img_2 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_3{
        max-height: 13.3rem;
    }
    .CardActivities__img_3 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_5{
        max-height: 13.3rem;
    }
    .CardActivities__img_5 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .CardActivities__img_6{
        max-height: 13.3rem;
    }
    .CardActivities__img_6 img {
        max-height: 13.3rem;
        min-height: 13.3rem;
        width: 100%;
    }
    .nav_set_HA {
        margin-left:0rem;
    }
    .nav_set_J {
        margin-left:4rem;
        margin-top: 1rem;
    }
    .FooterlessContainer {
        margin-right:-1rem;
    }
    .btn_search {
        display: none;
    }
    .searchL {
        display: inline;
        height: 4rem;
        width: 10.4rem;
        color: white;
        cursor: pointer;
        font-size: 1.3rem;
        border-radius: 0 10px 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchL:hover {
        transform: scale(1.1);
      }
    }



