/* main */
html, body { font-family: Raleway;}
.colorBlue { 
    color:#0065FC;
}
.colorLightBlue { 
    color:#DEEBFF;
}
.colorGrey { 
    color:#F2F2F2;
}
/* nav */
/* header */
/* les filtres */
/* Les plus populaires */
/* Hébergements */
/* Activités */
/* Footer */